.courseRequirementContainer {

    margin-bottom: 45px;
    border-bottom: 1px solid $grey-shade-3;
    padding-bottom: 30px;

    .tabularDataBox {
        margin-bottom: 40px;
        margin-top: 40px;

        .customTdBg {
            background: $lightgery-shade-3;
        }

    }
}

.tutionFeesContainer {
    margin-bottom: 45px;

    .tabularDataBox-Red{
       
        .table{
            margin-top:-1px;
        }
    }

    .feesCalculationSection{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        @include breakMaxOnly(767px){
            flex-direction: column;
        }

        @include breakMinMax(992px, 1024px){
            flex-direction: column;
        }
    

        .amount{
            color: $tseng-primary;
            font-size: 1.18rem;
            line-height: 35px;

            strong{
                font-weight:600;
            }
        }
        .termsCondition{
            color: $tseng-primary;
            text-align: right;
            font-size: 0.87rem;
            line-height: 23px;

            @include breakMaxOnly(767px){
                text-align: left;
                margin-top:10px;
            }

            @include breakMinMax(992px, 1024px){
                text-align: left;
                margin-top:10px;
            }

            span{
                color: $tseng-secondary;
            }
        }
    }
    .feesBox{
        margin-top:45px;
    }
   
}