  .latestNewsContainer {
      background: $tseng-secondary;
      padding: 50px 0 70px 0;
      margin-bottom: 55px;
      position: relative;

      .latestNewsSection {
          h2 {
              color: $white;
          }

          .newsScroller {
              .latestNewsRepeat {
                  position: relative;
                  -webkit-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                    margin-bottom:30px;
                    cursor: pointer;

                  .imageSection {
                      position: relative;
                      overflow: hidden;

                      img {
                          transition: 0.3s;

                          &:hover {
                              transform: scale(1.1);
                          }
                      }
                  }
              }

              .latestNewsLines {
                  position: absolute;
                  bottom: 46px;
                  font-size: 1.75rem;
                  font-weight: 700;
                  line-height: 40px;
                  color: $white;
                  left: 40px;
                  right: 40px;
                  

                  @include breakMaxOnly(991px) {
                    left: 20px;
                    right: 20px;
                    line-height: 25px;
                    font-size: 1.3rem;
                    bottom: 26px;
                                     
                  }
                  @include  breakMinMax(1024px, 1280px) {
                    left: 20px;
                    right: 20px;
                    line-height: 25px;
                    font-size: 1.3rem;
                    bottom: 26px;
                }
                  a {
                      color: $white;
                      text-decoration: none;

                      &:hover {
                          text-decoration: underline;
                      }
                  }

              }

              .news-latestNewsCarousel {
                  position: relative;

                  @include breakMaxOnly(991px) {

                      &.owl-theme .owl-dots .owl-dot.active span,
                      &.owl-theme .owl-dots .owl-dot:hover span {
                          background: $white;
                      }
                  }

                  .owl-dots {
                      display: none;

                      @include breakMaxOnly(991px) {
                          display: block;
                      }
                  }

                  &.owl-theme .owl-nav {
                      margin-top: 0;
                  }

                  &.owl-carousel .owl-nav button.owl-prev {
                      position: absolute;
                      right: 40px;
                      top: -120px;
                      font-size: 4rem;
                      color: $white;
                      transition: all .25s ease;

                      &:hover {

                          background: transparent;

                      }

                  }

                  &.owl-carousel .owl-nav button.owl-prev.disabled {
                      color: rgba($white, 0.5);
                  }


                  &.owl-carousel .owl-nav button.owl-next {
                      position: absolute;
                      right: 0;
                      top: -120px;
                      font-size: 4rem;
                      color: $white;
                      transition: all .25s ease;

                      &:hover {

                          background: transparent;

                      }

                  }

                  &.owl-carousel .owl-nav button.owl-next.disabled {
                      color: rgba($white, 0.5);
                  }
              }
          }
      }
  }
  .csun-searchContainer{
    .newsEvent-SearchBox{
        background:$darkgrey-shade-1;
        padding:26px;
        margin-bottom:60px;

        .newsEventName {
            input{
            border-radius: 0;
            border: 0;
            padding:18px 25px;
            color:$tseng-secondary;

            &::placeholder{
                color:$tseng-primary;
            }
        }
        
        .searchTrigger{
            border-radius: 0;
            border: 0;
            padding: 0;
            background: $tseng-secondary;

            button{
                background: transparent;
                border: 0;
                min-width: 60px;
            }
        }
    }
    }

    .searchResultContainer{
        margin-bottom:78px;

        .searchResult-pic{
            margin-right:30px;
            flex:1 0 40%;

            @include breakMaxOnly(767px) {
                margin-right:0px;
                margin-bottom:20px;
            }
            @include  breakMinMax(1024px, 1439px) {
                margin-right:0px;
                margin-bottom:20px
            }
        }
        .searchResult-desc{
           
            span{
                display: block;
                padding-top:6px;
            }

            a{
                font-size: 1.12rem;
                font-weight: 600;
                line-height: 30px;
                text-decoration: none;
                border-bottom: 1px solid $tseng-secondary;
                padding-bottom: 2px;
                transition: all 0.25s ease;
                color: $tseng-primary;
               
                &:hover{
                    border-bottom: 1px solid $tseng-primary;
                }
                
            }
        }

        .searchResultRepeatBox{
            display:flex;

            @include breakMaxOnly(767px) {
                flex-direction: column;
            }
            @include  breakMinMax(1024px, 1439px) {
                flex-direction: column;
            }
        }

    .loadMoreContainer{
        margin:70px 0;
        text-align: center;

        a{
            color: $tseng-secondary;
            font-size: 1.12rem;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            transition: all 0.25s ease;
            border:1px solid $tseng-secondary;
            padding:18px 65px;

            &:hover{
                background: $tseng-secondary;
                color:$white;
            }
        }
    }

    }

  }
  .mediaEnquiryContainer{
    .mediaEnquiryBox{
        border:5px solid $tseng-secondary;
        padding:30px;
        display: flex;
        margin-bottom:78px;
        @include breakMaxOnly(991px) {
            flex-direction: column;
        }
      

        .mediaQRepeat{
            flex:1 0 20%;
            display: flex;
            align-items: center;

            @include breakMaxOnly(991px) {
                flex:1 0 100%;
                padding-bottom:15px;
                &:last-child{
                    padding-bottom:0;
                }
            }

            @include  breakMinMax(1024px, 1280px) {
                margin-right:10px;
            }
     
            h4{
                margin-bottom: 0px;
            }

            .mediaIcon{
                margin-right:12px;
            }
            .mediaText{
                a{
                    color:$tseng-primary;
                    text-decoration: none;
                    border-bottom:1px solid transparent;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.followUsContainer{
    background: $lightgery-shade-3;
    padding:50px 0;

    .pageEmbedContainer{

        .pageEmbedOuter{
            background: #E7E7E7;
            padding:32px;
            border-radius:5px;
            
            .pageFacebook{
                -webkit-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                background: $white;
                height:400px;
                border-radius:12px;
                @include breakMaxOnly(991px) {
                    margin-bottom:30px;
                }

                .fb_iframe_widget iframe {
                    width: 100% !important;
                }
                
                .fb-page.fb_iframe_widget, .fb-page.fb_iframe_widget span {
                    width: 100% !important;
                }
               
            }

            .pageX{
                -webkit-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                background: $white;
                height:400px;
                overflow: hidden;
                border-radius:12px;

                @include breakMaxOnly(991px) {
                    margin-bottom:30px;
                }

                
            }
            .pageInstagram{
                -webkit-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.5);
                background: $white;
                height:400px;
                overflow: hidden;
                border-radius:12px;

                @include breakMaxOnly(991px) {
                    margin-bottom:30px;
                }
            }
        }
    }
     
}