.programFieldTabContainer {
  margin-top: -90px;
  z-index: 1;
  position: relative;
  .nav-item{
  flex:1;
  margin-right:10px;
  &:last-child{
    margin-right:0;
  }
  }
  .nav-tabs {
    border: 0;
    display: flex;
   
    .nav-link {
      color: #282728;
      /*background-color: $tseng-secondary-hover;*/
      background-color: #D9D9D9;
      //   margin: 0 10px;
      font-size: 1.25rem;
     width:100%;
      border-radius: 0;
      font-weight: 700;
      padding:15px;
      border:0;
      &.active {
        color: #282728;
        background-color: $white;
        font-weight: 700;
        border: 0;
      }
    }
  }

  .tab-content {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    padding: 40px 40px 8px 40px;
    background-color: $white;
   
    @include breakMaxOnly(767.98px) {
      padding: 25px;
    }
  }
  .tab-pane{
    border:0;
  }

  #nav-public {
 
  }

  .ourAlumni {
      margin-top:60px;
      margin-bottom:60px;

    .subHeading {
      color: $tseng-secondary;
      font-weight: 600;
      font-size: 1.12rem;
    }
    li {
      font-size: 0.875rem;
      line-height: 24px;
      &::marker {
        color: $tseng-secondary;
      }
    }
  }
  .companiesHiringContainer {
    background-color: $lightgery-shade-3;
    padding: 27px 40px 40px 40px;
    margin-bottom:40px;
 

  }
  .companiesHiring {
    position: relative;

    .owl-dots {
      display: none;

      @include breakMaxOnly(991px) {
        display: block;
      }
    }

    &.owl-theme .owl-nav {
      margin-top: 0;
    }

    &.owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      //   left: -3rem;
      //   top: 35%;
      //   font-size: 4rem;
      //   color: $tseng-secondary;
      //   transition: all 0.25s ease;
      //
      position: absolute;
      left: -30px;
      /* top: 0; */
      font-size: 4rem;
      color: $tseng-secondary;
      transition: all 0.25s ease;
      /* transform: translateY(50%); */
      top: 0;
      bottom: 0;
      margin: auto 0;

      &:hover {
        color: $tseng-secondary-hover;
        background: transparent;
      }
    }
    &.owl-carousel .owl-nav button.owl-prev.disabled {
      color: $darkgrey-shade-1;
    }

    &.owl-carousel .owl-nav button.owl-next {
      position: absolute;
      right: -30px;
      /* top: 0; */
      font-size: 4rem;
      color: $tseng-secondary;
      transition: all 0.25s ease;
      /* transform: translateY(50%); */
      top: 0;
      bottom: 0;
      margin: auto 0;

      &:hover {
        color: $tseng-secondary-hover;
        background: transparent;
      }
    }
    &.owl-carousel .owl-nav button.owl-next.disabled {
      color: $darkgrey-shade-1;
    }
    @include breakMaxOnly(991px) {

      &.owl-theme .owl-dots .owl-dot.active span,
      &.owl-theme .owl-dots .owl-dot:hover span {
          background: $tseng-secondary;
      }
  }
  }

  .accordion-body{
    padding:0;
  }
  @media (max-width: 1024px) {
    .tab-content > .tab-pane {
      display: block;
      opacity: 1;
    }
    }


   

    @include breakMinMax(320px,1199px){
      .accordion-button:not(.collapsed){
        background:$white;
        color:$tseng-primary;

        &:after{
         
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
            rotate:(0deg);
        
        }
      }
      .accordion-button{
        background:$tseng-secondary;
        color: $white;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom:10px;
        &:after{
        
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      
        
        }

      }
  }





}

.PublicSectorSocialServices{
  .card{
    margin-bottom:50px;
  }
  .heading {
    font-size: 2.125rem;
    font-weight: bold;
  }
  .descriptiontxt{
    line-height:28px;
    padding-top:10px;
    padding-bottom:40px;
  }
  @include breakMinMax(320px,1199px){
    margin-top:20px;
  }
}



