.singleBannerContainer{
    margin-bottom:50px;
    

    .singleBannereOuter{
        position: relative;
        background: url(../images/campusLife/campusSafteyBg.jpg) ;
        background-repeat: no-repeat !important;
        background-color: $tseng-primary !important;
        background-size: cover !important;
        min-height:350px;

        @include breakMaxOnly(767px){
            min-height:auto;
            /*margin-bottom:30px;*/
        }
    
        @include breakMinMax(768px, 991px){
            margin-bottom:30px;
        }

    
        .singleBannereOuterContent{
            /*position:absolute;
            top:0;*/
            padding:44px 48px;
           

            @include breakMaxOnly(767px){
                padding:22px 24px;
            }
            
    
            h2{
                max-width:250px;
                line-height: 3rem;
                margin-bottom: 1.8rem;
            }
        
            a{
                color: $white;
                font-weight:700;
        
                &:hover{
                    border-color: $white;
                    color: $white;
                }
            }
        
            .subContent{
                color:$white;
                font-size: 1.25rem;
                line-height: 27px;
                max-width:235px;
            }
        }
      
    }
}