@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html,body{
	font-family:$font-primary;
	font-size:$font-base-size;
	color:$tseng-primary;
	margin:0px;
	padding:0px;

	@include breakMinMax(320px, 575px){
		font-size:14px;
	}
	@include breakMinMax(570px, 991px){
		font-size:14px;
	}
	@include breakMinMax(991px, 1566px){
		font-size:15px;
	}
	@include breakMinOnly(1921px){
		font-size:24px;
	}

}



.container{
	@include breakMinOnly(992px){
			max-width: 88vw;
		}	

		@include breakMaxOnly(991px){
			max-width: 94vw;
		}
}
.borderWhiteRight-2{
	border-right:1px solid $white;
}

/*Headings*/
h1{
	color: $tseng-primary;
	font-size: 2.87rem; /*46px*/
	font-weight: 700;
	line-height: 3.37rem;
	margin-bottom: 2.5rem;
}


h2{
	color: $tseng-primary;
	font-size: 2.12rem; /*34px*/
	font-weight: 700;
	line-height: 2.25rem;
	margin-bottom: 2.56rem;
}

h4{
	color:  $tseng-primary;
	font-size: 1.5rem; /*24px*/
	font-weight: 700;
	line-height: 2rem; 
	margin-bottom:1.3rem;

}

h5{
	color: $tseng-primary;
	font-size: 1.37rem;/*22px*/
	line-height: 1.56rem;
	margin-bottom: 1.1rem;
}
h6{
	color: $tseng-primary;
	font-size: 1.25rem;/*20px*/
	line-height: 1.56rem;
	margin-bottom: 0.93rem;
}

/*Headings*/

/*paragraph*/

p{
	color:$tseng-primary;
	font-weight: 400;
	line-height: 24px;
	margin-bottom:14px;
	font-size: 16px;

	strong{
		font-weight:600;	
	}
}

/*paragraph*/


/*Sticky Icon*/
.quickStickyLinksContainer {
	position: fixed;
	right: 0;
	top: 23vh;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-end;

	@include breakMaxOnly(991px){
		display:none;
	}
  
	a {
	  display: flex;
	  align-items: center;
	  transition: width 0.2s ease;
	  background: $tseng-secondary;
	  margin-bottom: 0.37rem;
	  width: 3rem;
	  /*text-align: center;*/
	  font-family: "Roboto Slab";
	 font-weight: 500;
	 color:$white;
	 text-decoration: none;
	 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
	  &:hover,
	  &.active {
		width: 11rem;
		background: $white;
		color:$tseng-secondary;
		
  
		.quickStickyLinkText {
		  opacity: 1;
		  transform: translateX(0);
		}
		
		.quickStickyLinkIconHover{
			opacity: 1;
			/*transition: all 0.3s ease;*/
			padding: .8rem;
		}
		.quickStickyLinkIcon {
			opacity: 0;
			padding: 0;
			width:0

		}
	  }
  
	  .quickStickyLinkText {
		opacity: 0;
		transform: translateX(100%);
		transition: all 0.3s ease;
	  }
  
	  .quickStickyLinkIcon {
		opacity: 1;
		/*transition: all 0.3s ease;*/
		padding: .8rem;
	  }
	}
  }/*Sticky Icon*/

/*Anchor*/
.linkunderline-1{
	text-decoration: none;
	border-bottom:1px solid $tseng-secondary;
	color: $tseng-primary;
	font-weight:500;
	padding-bottom: 2px;
	transition: all .25s ease;

	&:hover{
		border-bottom:1px solid $tseng-primary;
		color:$tseng-secondary-hover ;
	
	}
}


.linkunderline-2{
	text-decoration: none;
	border-bottom:2px solid $tseng-secondary;
	color: $tseng-primary;
	font-weight:600;
	transition: all .25s ease;

	&:hover{
		border-bottom:2px solid $tseng-primary;
		color:$tseng-secondary-hover ;
	
	}
}

.linkWhiteunderline-1{
	text-decoration: none;
	border-bottom:1px solid $white;
	color: $white;
	padding-bottom: 2px;
	transition: all .25s ease;

	&:hover{
	border-bottom:2px solid $white;
	
	}
}





/*Anchor*/

/*Section Heading*/

.sectionHeading {
	background: $tseng-primary;
	padding: 20px 23px;
	color: $white;
	font-size: 1.12rem;
	font-weight: 600;
}
/*Section Heading*/

/*table black Header*/
    .tabularDataBox{
  
        .table{
            th{
                color: $white;
                background:$tseng-primary;
                font-weight: 600;
                padding:15px 21px;
                border-color: rgba(222, 226, 230, .4);
                
            }
            td{
                color: $tseng-primary;
                padding:15px 21px;
                font-size:0.875rem;
                line-height: 22px;

                a{
                    font-weight:600;
                }
                
            }
        }
    }

	//*table black Header* //



	
/*table Red Header*/
.tabularDataBox-Red{
  
	.table{
		th{
			color: $white;
			background:$tseng-secondary;
			font-weight: 600;
			padding:15px 21px;
			border-color: rgba(222, 226, 230, .4);
			
		}
		td{
			color: $tseng-primary;
			padding:15px 21px;
			font-size:0.875rem;
			line-height: 22px;

			a{
				font-weight:600;
			}
			
		}
	}
}

//*table black Header* //


button:focus{
	outline:1px solid transparent !important;
  }

  .overlay{
	background: $tseng-primary;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }