.carl-dashboard-card{
	background:white;
	border-radius:6px;
	
	.carl-dashboard-card-header{
		background: $navy;
		border-radius:6px 6px 0px 0px;
		padding:6px 10px;
		font-size:1.2rem;
		color:white;
	}
	.carl-dashboard-card-body{
		padding:10px;
	}
}