/**
 * Global variables
 */

// Breakpoints


$bp-small: 767px;
$bp-medium: 992px;
$bp-large: 1024px;
$bp-wide: 1280px;

// Colors
$tseng-primary: #000000;
$tseng-secondary: #D22030;
$tseng-secondary-hover:#ad001d;

$white:#fff;
$white-shade1 :#F8F9F8;
$grey-shade-2:#bec6c3;
$skyblue:#2ca5da;
$seagreen:#82cec9;
$lightpurple:#5b4c93;
$darkgrey:#1E1D1D;
$darkgrey-shade-1:#55565A;
$lightgrey:#f8f9f8;
$lightgrey-shade-1:#EDEDED;
$lightgery-shade-2:#E9E9E9;


// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto Slab", serif;
$font-base-size: 16px;


